---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Yapım aşamasında"
	pubDate={new Date('November 07 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Bu sayfa yapım aşamasındadır. Yakında güncellenecektir.
	</p>
</Layout>
